.btn1 {
    background-color: #FF5733;
    border-color: #FF5733;
    color: white;
}

.btn1:hover {
    background-color: #f42d00;
    border-color: #f42d00;
}

.logo{
    width: 100px;
    height: auto;
    z-index: -100;
}


.text-orange {
    color: #ff6600; 
}

.icon {
    border: 2px solid #ff6600; 
    padding: 10px;
    border-radius: 50%; 
    display: inline-block;
}

.icon .fa {
    color: #ff6600;
}

