.icon {
    border: 2px solid #ff6600; 
    padding: 10px;
    border-radius: 50%; 
    color: #ff6600;
    
    
}


.background{
    background-color: #ffffff;
    margin-top: 0%;
    padding-top: 0;
    padding: 20px;
}