.open-pages {
    /* Set the background color for the page */
    background-color: #f8f9fa;
  }
  
  .cards {
    /* Add padding and border radius to the card */
    padding: 2rem;
    border-radius: 1rem;
  }
  
  .book-image {
    /* Add shadow to the book image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add a border radius */
    border-radius: 8px;
  }
  
  h2, h3 {
    /* Add some margin to headings */
    margin-bottom: 1rem;
  }
  
 
  .container {
    /* Add padding to the container */
    padding: 0;
  }
  
  /* Optional: Additional margin for the header and footer if needed */
  /* header, footer {
    margin-bottom: 2rem;
  } */
  .pay-btn {
    background-color: #f42d00;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: none;
}
.pay-btn:hover{
  color: black;
  border: 1px solid #f42d00;
}

.btn1:hover {
    background-color: #d02000;
    transform: scale(1.05);
}
 .btn11 {
    background-color:  #f42d00;
    color:white;
    padding: 8px 16px;
    border-radius: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    
}

.btn11:hover {
    
    transform: scale(1.05);
    border:1px solid #f42d00; 
    border-radius: 20px;
    
}